<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div id="app">
  <div id="container">
    <h1 class="text-center">{{title}}</h1>
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <my-comp1 class="comp1"></my-comp1>
      </div>
      <div class="col-md-3">
          <h2 class="text-center">혹은</h2>
      </div>
      <div class="col-md-3">
        <my-comp2 class="comp2"></my-comp2>
      </div> <!--end col-md-2-->
    </div><!-- end row -->
  </div> <!-- end container -->
</div> <!-- end app -->

<script>
  Vue.mixin({
    methods: {
      pressed(val) {
        alert(val);
      }
    },
    data() {
        return {
            item: ''
        }
    }
  });

  const comp1 = {
    template: `<div>
    <h1>이메일을 입력하세요</h1>
    <form>
      <div class="form-group">
        <input v-model="item" type="email" class="form-control" placeholder="이메일 주소"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg" @click.prevent="pressed(item)">버튼1 누르기</button>
      </div>
    </form>
    </div>`,
  }

  const comp2 = {
    template: `<div>
    <h1>전화번호를 입력하세요</h1>
      <form>
        <div class="form-group">
            <input v-model="item" class="form-control" placeholder="전화번호"/>
        </div>
        <div class="form-group">
          <button class="btn btn-warning btn-lg" @click.prevent="pressed(item)">버튼2 누르기</button>
        </div>
      </form>
    </div>`,
  }

  new Vue({
    el: '#app',
    data() {
      return {
        title: '컴포넌트 두 개를 사용한 믹스인 예제'
      }
    },
    components:{
        myComp1: comp1,
        myComp2: comp2
    }
  });
</script>
</body>
</html>
