<!-- 기본적으로 index.html에서 for문안에 있으므로 article 이름 자체를 그대로 쓸 수 있다. -->

<div class="card mb-3">
  <div class="card-header">
    <p>작성자: <a class="card-link" href="{% url 'accounts:profile' article.user %}"><b>{{ article.user }}</b></a></p> <!-- 기본적으로 .user만 입력해도 user_name이 나온다. -->
  </div>
  <div class="card-body">
    <h5 class="card-title"><p>글 제목: <b>{{ article.title }}</b></p></h5>
    <p class="card-text">{{ article.pk }}</p>
    <hr>
    <p class="card-text">
      {% if user in article.like_users.all %}
        <i class="fas fa-heart like-button" style="color: crimson;" data-id="{{ article.pk }}"></i>
      {% else %}
        <i class="fas fa-heart like-button" style="color: black;" data-id="{{ article.pk }}"></i>
      {% endif %}
      <b><span id="like-count-{{ article.pk }}">{{ article.like_users.all|length }}</span></b>명이 이 글을 좋아합니다.
    </p>
    <a href="{{ article.get_absolute_url }}" class="btn btn-primary">DETAIL</a>
    <!-- 원래는 {# url 'articles:detail' article_pk #}이지만 get_absoulte_url에 의해 {{ article.get_absolute_url }}로 간결해진다. -->
  </div>
</div>