{% extends 'articles/base.html' %} <!-- app에 base.html이 있으므로 앞에 `articles/` 경로를 붙여준다. -->

{% block content %}
  <table>
    <tr>
      <td><h1>Articles</h1></td>
      <td colspan="2">
        {% if user.is_authenticated %}
          <a href="{% url 'articles:create' %}"><button class="btn btn-secondary">NEW</button></a>
        {% else %}
          <a href="{% url 'accounts:login' %}"><button class="btn btn-secondary">Please login to write NEW article</button></a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <p><b>당신의 방문 횟수 : {{ visits_num }} {% if visits_num == 1 %} time {% else %} times{% endif %}</b></p>
      </td>
    </tr>
  </table>
  <hr>
  {% for article in articles %}
    {% include 'articles/_article.html' %}
  {% endfor %}
  <script>
    // 1. 각 게시글별로 좋아요 버튼이 있으니 모두 선택해야 한다.
    const likebuttons = document.querySelectorAll('.like-button')

    // 2. forEach를 사용해서 각각의 좋아요 버튼을 클릭
    likebuttons.forEach(button => {
      button.addEventListener('click', function (event) {
        // 항상 처음에는 console로 function의 인자를 찍어보고 어디로 들어가야 하는지 반드시 파악하자
        // console.log(event)

        // event.target.dataset.id 의 value는 data-id 값이 들어 있다.
        const articleId = event.target.dataset.id // 이와 같이 사용하기 위해 console로 찍어서 경로를 확인해야 한다!
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest' // ajax 요청임을 알려주는 구문
        axios.defaults.xsrfCookieName = 'csrftoken' // POST 요청임을 알려주는 구문1
        axios.defaults.xsrfHeaderName = 'X-CSRFToken' // POST 요청임을 알려주는 구문2
        axios.post(`/articles/${articleId}/like/`) // 해당 상세 게시글의 좋아요 요청을 보낸다.(url주소는 urls.py 참고)
          .then(response => {
            // console.log(response) // 반드시 console로 먼저 확인
            document.querySelector(`#like-count-${articleId}`).innerText = response.data.count
            if (response.data.liked) {
              // 좋아요 색깔을 빨갛게
              event.target.style.color = 'crimson'
            } else {
              // 좋아요 색깔을 까맣게
              event.target.style.color = 'black'
            }
          })
          .catch(error => console.log(error)) // 반드시 console로 먼저 확인)
      })
    })
  </script>
{% endblock  %}