astroid==2.3.1
beautifulsoup4==4.8.1
colorama==0.4.1
Django==2.2.6
django-bootstrap==0.2.4
django-bootstrap4==1.0.1
django-extensions==2.2.3
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
pylint==2.4.2
pytz==2019.3
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
typed-ast==1.4.0
wrapt==1.11.2