h1 {
  color: crimson;
  margin: 0;
}

small {
  display: block;
  padding-bottom: 20px;
}

form {
  border: 1px solid silver;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 15px;
  line-height: 2;
}

form span {
  font-weight: 600;
}

button {
  background-color: #ccc;
  border: transparent;
  padding: 6px 12px;
  border-radius: 10px;
  transition: all .2s;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}