@mixin alignFlex($direction: row, $wrap: nowrap, $justifyContent: flex-start, $alignItems: stretch) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}