div {
  width: 100px;
  height: 100px;
  background-color: crimson;
  color: white;
  text-align: center;
  line-height: 100px;
}

.parent {
  background-color: burlywood;
}

.absolute {
  position: absolute;
  top: 50px;
  left: 50px;
}

.relative {
  position: relative;
}

.relative-move {
  position: relative;
  top: 30px;
  left: 30px;
}

.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.z-index-1 {
  position: absolute;
  background-color: green;
  z-index: 100;
}

.z-index-2 {
  position: absolute;
  background-color: blue;
  top: 30px;
  left: 30px;
  z-index: 10;
}

.z-index-3 {
  position: absolute;
  background-color: brown;
  top: 60px;
  left: 60px;
}