div {
  width: 100px;
  height: 100px;
  color: white;
  background-color: crimson;
  text-align: center;
  line-height: 100px;
}

.float-left {
  float: left;
}

.back {
  background-color: orange;
  width: 300px;
}

.float-right {
  float: right;
}

.clear {
  /* float 값을 무시하고 진행. */
  clear: both;
}