@font-face {
  font-family: 'mealcon';
  src:  url('fonts/mealcon.eot?sbetgy');
  src:  url('fonts/mealcon.eot?sbetgy#iefix') format('embedded-opentype'),
    url('fonts/mealcon.ttf?sbetgy') format('truetype'),
    url('fonts/mealcon.woff?sbetgy') format('woff'),
    url('fonts/mealcon.svg?sbetgy#mealcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mealcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes icon-ani-tongtong {
  from { transform: translateY(0); }
  to { transform: translateY(0.3em); }
}

.icon-red {
  color: red !important;
}

.icon-ani-tongtong {
  display: inline-block;
  animation: icon-ani-tongtong 0.3s alternate infinite;
}

.icon-face:before {
  content: "\e900";
}
.icon-studiomeal:before {
  content: "\e901";
}
