{% extends 'articles/base.html' %}

{% block content %}
  <a href="{% url 'articles:create' %}">[NEW]</a>
  <h1>INDEX</h1>
  {% if request.user.is_authenticated %}
    <p>당신의 방문 횟수는 {{ visits_num }}</p>
  {% endif %}
  <hr>
  {% for article in articles %}
    <p>제목 : {{ article.title }}</p>
    <p>작성자 : {{ article.user }}</p>
    <!-- 좋아요 개수와 좋아요 버튼 작성시 for문 안에서 돌기 때문에 articles가 아닌 article이라고 써야 한다. -->
    <p>좋아요 개수 : {{ article.like_users.all|length }}</p>
    <a href="{% url 'articles:like' article.pk %}">
      {% if request.user in article.like_users.all %}
        [좋아요 취소]
      {% else %}
        [좋아요]
      {% endif %}
    </a>
    <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>
    <hr>
  {% endfor %}
{% endblock %}