{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <h1 class="text-center">{{ person.username }}'s Profile</h1> <!-- username -->
  <hr>
  <h3 class="text-center">{{ person.username }}이(가) 작성한 글</h3> <!-- username -->
  {% for article in person.article_set.all %}
    <p>내용 : {{ article.content }}</p>
    <p>{{ article.like_users.all|length }}명이 좋아하는 글</p>
    <p>{{ article.comment_set.all|length }}개의 댓글</p>
    <a href="{% url 'articles:detail' article.pk %}" class="btn btn-primary">Go to Article</a>
    <hr>
  {% endfor %}
  <hr>
  <h3 class="text-center">{{ person.username }}이(가) 작성한 댓글</h3>
  {% for comment in person.comment_set.all %}
    <p>댓글 내용 : {{ comment.content }}</p>
    <p>댓글 작성 날짜 : {{ comment.created_at|date:"SHORT_DATE_FORMAT" }}</p>
    <hr>
  {% endfor %}
{% endblock  %}