/* 출처 : https://youtu.be/9fFpyHbmDBY */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.carousel-item {
  height: 100vh;
}

.img-box {
  width: 550px;
  position: relative;
}

/* first carousel */
.pic-one {
  width: 100%;
}

.pic-two {
  width: 100px;
  position: absolute;
  left: 15px;
  bottom: 20px;
}

.pic-three {
  width: 75px;
  position: absolute;
  left: 150px;
  bottom: 70px;
}

.pic-four {
  width: 160px;
  position: absolute;
  right: 40px;
  top: 110px;
}

.pic-five {
  width: 110px;
  position: absolute;
  right: 20px;
  bottom: 0;
}

.pic-six {
  width: 160px;
  position: absolute;
  right: 160px;
  bottom: 35px;
}

.slide-one {
  background: #b0c6f5;
}

.carousel-item .row {
  margin: 12% 0;
}

.carousel-item h1 {
  margin-top: 40px;
  font-weight: bold;
  color: #fff;
}

.carousel-item p {
  margin: 30px 0 50px;
  font-size: 13px;
  color: #fff;
}

.carousel-item button {
  padding: 8px 20px;
  background: #0c5cd3;
  border: 0;
  outline: none;
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
}

/* second carousel */
.slide-two {
  background: #f7f7f7;
}

.slide-two h1,
.slide-two p {
  color: #feb154;
}

.img-one {
  width: 100%;
}

.img-two {
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 20px;
}

.img-three {
  width: 70px;
  position: absolute;
  left: 245px;
  bottom: 55px;
}

.img-four {
  width: 60px;
  position: absolute;
  left: 155px;
  bottom: 95px;
}

.img-five {
  width: 100px;
  position: absolute;
  right: 50px;
  bottom: 20px;
}

.slide-two button {
  background: linear-gradient(to right, #feb154, #ffd255);
}