{% load bootstrap4 %}
{% load gravatar %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% bootstrap_css %}
  <script src="https://kit.fontawesome.com/17820a52a0.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  {% include 'articles/_nav.html' %}
  <div class="container">
    {% block content %}
    {% endblock  %}
  </div>
  {% bootstrap_javascript jquery='full' %}
</body>
</html>