{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center">EDIT</h1>
  <form action="/articles/{{ article.pk }}/update/" method="POST">
    {% csrf_token %}
    <label for="title">TITLE</label>
    <input type="text" name="title" id="title" value="{{ article.title }}"><br> <!-- 사용자 적인 측면에서 기능 추가한 것임 -->
    <label for="content">CONTENT</label>
    <textarea name="content" id="content" cols="30" rows="5">{{ article.content }}</textarea><br> <!-- textarea는 value 속성이 없으므로 태그 안에 작성 / 사용자 적인 측면에서 기능 추가한 것임-->
    <input type="submit" value="submit">
  </form>
  <a href="/articles/{{ article.pk }}/">[BACK]</a>
{% endblock  %}