@mixin clearfix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin mq($screen-width) {
  @if $screen-width == 'small-screen-1' {
    @media screen and (min-width: 900px) and (max-width: 1200px) {
      @content;
    }
  }
  @else if $screen-width == 'small-screen-2' {
    @media screen and (min-width: 701px) and (max-width: 899px) {
      @content;
    }
  }
  @else if $screen-width == 'small-screen-3' {
    @media screen and (max-width: 700px) {
      @content;
    }
  }
}