.react {
  background: aqua;
  color: black;
  font-size: 48px;
  font-weight: bold;
  padding: 16px;
}

.chapter {
  color: crimson;
  font-size: 30px;
  font-weight: 600;
}

.chapter::before {
  content: '<';
}

.chapter::after {
  content: '>';
}