{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">DETAIL</h1>
<h2>{{ article.pk }} 번째 글</h2>
<hr>
<p>제목: {{ article.title }}</p>
<p>내용: {{ article.content }}</p>
<p>작성 시각: {{ article.created_at }}</p>
<p>수정 시각: {{ article.updated_at }}</p>
<hr>
<!-- 댓글 출력 -->
<p><b>{{ comments|length }}개의 댓글</b></p>
{% for comment in comments %}
<li>{{ comment.content }}
  <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" style="display: inline;" onclick="return confirm('진짜 지울꺼야??')">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>
</li>
{% empty %}
  <p><b>댓글이 없어요...</b></p>
{% endfor %}
<hr>
<!-- 댓글 작성 form -->
<form action="{% url 'articles:comments_create' article.pk %}" method="POST">
  {% csrf_token %}
  <label for="content">COMMENT</label>
  <input type="text" name="content" id="content">
  <input type="submit" value="submit">
</form>
<hr>
<a href="{% url 'articles:update' article.pk %}">[EDIT]</a>
<!-- 이렇게 쓰면 url로 삭제할 수 없게 할 수 있다. -->
<form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('진짜 지울꺼야??')">
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>
<a href={% url 'articles:index' %}>[back]</a>
{% endblock %}