{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% block content %}
  <h1>DETAIL</h1>
  <p>번호 : {{ article.pk }}</p>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>생성일 : {{ article.created_at|date:"SHORT_DATE_FORMAT" }}</p>
  <p>수정일 : {{ article.updated_at|date:"M, j, Y" }}</p>

  <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST", onclick="return confirm('진짜로 지우게??')">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>
  <hr>

  {# 댓글 창 넣을 곳 #}
  <p><b>{{ comments|length }}개의 댓글</b></p>
  {% for comment in comments %}
    <p>{{ comment.pk }}번 댓글 : {{ comment.content }}</p>
    <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" style="display: inline;">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% empty %}
    <p>댓글이 없어요...</p>
  {% endfor %}
  <hr>

  {# 댓글 입력 창 넣을 곳 #}
  <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="submit">
  </form>
  <hr>
  <a href="{% url 'articles:index' %}">[BACK]</a>
{% endblock  %}