{% extends 'articles/base.html' %}

{% block content %}
  <h1>DETAIL</h1>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  {% if request.user == article.user %} {# 자신의 게시글이 아니면 UPDATE, DELETE 보지 못하도록 #}
    <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% endif %}
  <hr>
  <p><b>{{ comments|length }}</b>개의 댓글</p>
  {% for comment in comments %}
    <p>{{ forloop.revcounter }}번 댓글 : {{ comment.content }}</p>
    {% if request.user == comment.user %}
      <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <input type="submit" value="댓글 삭제">
      </form>
    {% endif %}
  {% endfor %}
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'articles:comments_create' article.pk %}" method="post">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit" value="댓글 생성">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요]</a>
  {% endif %}
  <hr>
  <a href="{% url 'articles:index' %}">[BACK]</a>
{% endblock %}