<html>
<head>
  <title>Vue.js 애완용품샵</title>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
</head>
<body>
<div id="app">
  <header>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <h1>{{ sitename }}</h1>
      </div>
      <div class="nav navbar-nav navbar-right cart">
        <button type="button" class="btn btn-default btn-lg" v-on:click="showCheckout">
          <span class="glyphicon glyphicon-shopping-cart">{{cartItemCount}}</span> 체크아웃
        </button>
      </div>
    </div>
  </header>
  <main>
    <div v-if="showProduct">
      <div v-for="product in sortedProducts">
        <div class="row">
          <div class="col-md-5 col-md-offset-0">
            <figure>
              <img class="product" v-bind:src="product.image">
            </figure>
          </div>
          <div class="col-md-6 col-md-offset-0 description">
            <h1 v-text="product.title"></h1>
            <p v-html="product.description"></p>
            <p class="price">
              {{product.price | formatPrice}}
            </p>
            <button class="btn btn-primary btn-lg"
              v-on:click="addToCart(product)"
              v-if="canAddToCart(product)">장바구니 담기</button>
            <button disabled="true" class="btn btn-primary btn-lg"
              v-else>장바구니 담기</button>
            <span class="inventory-message"
                  v-if="product.availableInventory - cartCount(product.id) === 0">
                품절!
            </span>
            <span class="inventory-message"
                  v-else-if="product.availableInventory - cartCount(product.id) < 5">
                {{product.availableInventory - cartCount(product.id)}} 남았습니다!
            </span>
            <span class="inventory-message"
                  v-else>지금 구매하세요!
            </span>
            <div class="rating">
              <span v-bind:class="{'rating-active': checkRating(n, product)}"
                  v-for="n in 5">☆
              </span>
            </div>
          </div>
        </div><!-- end of row -->
        <hr />
      </div><!-- end of v-for -->
    </div><!-- end of showProduct -->
    <div v-else>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-info">
            <div class="panel-heading">애완용품샵 체크아웃</div>
            <div class="panel-body">
              <div class="form-group">
                <div class="col-md-12">
                  <h4><strong>정보를 입력하세요</strong></h4>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <strong>이름:</strong>
                  <input v-model.trim="order.firstName" class="form-control" />
                </div>
                <div class="col-md-6">
                  <strong>성:</strong>
                  <input v-model.trim="order.lastName" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12"><strong>주소:</strong></div>
                <div class="col-md-12">
                  <input v-model.trim="order.address" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12"><strong>도시:</strong></div>
                <div class="col-md-12">
                  <input v-model.trim="order.city" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-2">
                  <strong>주:</strong>
                  <select v-model="order.state" class="form-control">
                    <option disabled value="">주</option>
                    <option v-for="(state, key) in states" v-bind:value="state">
                      {{key}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                  <strong>우편번호:</strong>
                  <input v-model.number="order.zip"
                    class="form-control"
                    type="number"/>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6 boxes">
                  <input type="checkbox"
                    id="gift" value="true"
                    v-bind:true-value="order.sendGift"
                    v-bind:false-value="order.dontSendGift"
                    v-model="order.gift">
                  <label for="checkbox">선물로 보내기?</label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6 boxes">
                  <input type="radio"
                    id="home"
                    v-bind:value="order.home"
                    v-model="order.method">
                  <label for="home">자택</label>
                  <input type="radio"
                    id="business"
                    v-bind:value="order.business"
                    v-model="order.method">
                  <label for="business">직장</label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary submit" v-on:click="submitForm">주문하기</button>
                </div>
              </div>
              <div class="col-md-12 verify">
                <pre>
                  이름: {{order.firstName}}
                  성: {{order.lastName}}
                  주소: {{order.address}}
                  도시: {{order.city}}
                  우편번호: {{order.zip}}
                  주: {{order.state}}
                  배송지: {{order.method}}
                  선물: {{order.gift}}
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<script type="text/javascript">
  var APP_LOG_LIFECYCLE_EVENTS = true;
  var webstore = new Vue({
    el: '#app',
    data: {
      sitename: "Vue.js 애완용품샵",
      showProduct: true,
      a: false,
      states: {
        AL: '알라바마',
        AK: '알래스카',
        AR: '애리조나',
        CA: '캘리포니아',
        NV: '네바다'
      },
      order: {
        firstName: '',
        lastName: '',
        address: '',
        city: '',
        zip: '',
        state: '',
        method: '자택 주소',
        business: '직장 주소',
        home: '자택 주소',
        gift:'선물로 보내기',
        sendGift: '선물로 보내기',
        dontSendGift: '선물로 보내기 않기'
      },
      products: [],
      cart: []
    },
    methods: {
      addToCart(aProduct) {
        this.cart.push(aProduct.id);
      },
      showCheckout() {
        this.showProduct = this.showProduct ? false: true;
      },
      submitForm() {
        alert('제출 완료');
      },
      checkRating(n, myProduct) {
        return myProduct.rating - n >= 0;
      },
      canAddToCart(aProduct) {
        return aProduct.availableInventory > this.cartCount(aProduct.id);
      },
      cartCount(id) {
        let count = 0;
        for (var i = 0; i < this.cart.length; i++) {
          if (this.cart[i] === id) {
            count++;
          }
        }
        return count;
      }
    },
    computed: {
      cartItemCount() {
        return this.cart.length || '';
      },
      sortedProducts() {
        if (this.products.length > 0) {
          let productsArray = this.products.slice(0);
          function compare(a, b) {
            if (a.title.toLowerCase() < b.title.toLowerCase())
              return -1;
            if (a.title.toLowerCase() > b.title.toLowerCase())
              return 1;
            return 0;
          }
          return productsArray.sort(compare);
        }
      }
    },
    filters: {
      formatPrice(price) {
        if (!parseInt(price)) { return ""; }
        if (price > 99999) {
          var priceString = (price / 100).toFixed(2);
          var priceArray = priceString.split("").reverse();
          var index = 3;
          while (priceArray.length > index + 3) {
            priceArray.splice(index+3, 0, ",");
            index += 4;
          }
          return "$" + priceArray.reverse().join("");
        } else {
          return "$" + (price / 100).toFixed(2);
        }
      }
    },
    beforeCreate: function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeCreate");
      }
    },
    created: function() {
      axios.get('./products.json')
        .then((response) => {
            this.products = response.data.products;
            console.log(this.products);
        });
    },
    beforeMount: function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeMount");
      }
    },
    mounted: function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("mounted");
      }
    },
    beforeUpdate: function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeUpdate");
      }
    },
    updated: function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("updated");
      }
    },
    beforeDestroyed: function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeDestroyed ");
      }
    },
    destroyed: function() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("destroyed");
      }
    }
  });
</script>
</body>
</html>
