html, body {
  font-family: '맑은 고딕', sans-serif;
  padding: 0;
  margin: 0;
	font-size: 14px;
	color: #333;
	line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, a, button {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.emoji {
  font-family: 'Segoe UI Emoji' !important;
}
