body {
  margin: 50px;
}

@mixin textAndBgColor($textColor, $bgColor) {
  color: $textColor;
  background-color: $bgColor;
}

@mixin theme($mood) {
  @if $mood == 'light' {
    @include textAndBgColor(#333, #ff0);
  }
  @else if $mood == 'dark' {
    @include textAndBgColor(#fff, #000);
  }
  @else if $mood == 'lovely' {
    @include textAndBgColor(rgb(246, 220, 248), rgb(167, 71, 196));
  }
  @else {
    @include textAndBgColor(#f00, #aaa);
  }
}

#box1 {
  @include theme('light');
}

#box2 {
  @include theme('dark');
}

#box3 {
  @include theme('lovely');
}

#box4 {
  @include theme('other');
}